<div class="dialogField">
    <ul>
        <li ng-repeat="dial in $ctrl.userDialogs">{{dial}}</li>
    </ul>

    <ul id='list'>
        <li ng-repeat="(key, post) in $ctrl.posts" id="{{key}}">
            <!-- <b> {{post.user_id}} </b> : {{$ctrl.f( post.message)}}
             -->
            {{$ctrl.formatMess(key, post )}}
        </li>
    </ul>
</div>


<div class="text">
    <text-component add-dialog="$ctrl.addDialog(dialog)"></text-component>
</div>