<!--userlist: список юзеров  -->
<div class="userlist">
    <userlist-component usernameb=$ctrl.testdataparent testdatar='$ctrl.testdataparent2'> </userlist-component>
</div>
<div class="board">
    <div class="dialogs">
        <dialogs-component testnamer="'myName'"></dialogs-component>
    </div>
</div>