   nav {
       text-align: center;
   }
   
   nav a {
       text-decoration: none;
       color: #333;
   }
   
   .navigation {
       display: inline-flex;
   }
   
   .navigation li {
       margin-right: 20px;
       font-size: 20px;
   }
   
   .wrapper {
       width: 1000px;
       margin: 0 auto;
       /* border: 1px solid red; */
   }
   /* HEADER */
   
   header {
       height: 150px;
       border-radius: 14px;
       padding: 14px;
       background-color: #B5D1E8;
       margin-bottom: 12px;
   }
   
   header::after {
       content: '';
       display: inline-block;
       width: 100%;
   }
   
   header h1 {
       color: black;
       /* font-family: 'Abril Fatface', cursive; */
       font-family: 'Boogaloo', cursive;
       font-size: 56px;
   }
   
   .label,
   .info,
   .logo {
       float: left;
   }
   
   .label {
       width: 60%;
   }
   
   .info {
       width: 20%;
   }
   
   .logo {
       width: 20%;
       padding-top: 26px;
   }
   
   .logo img {
       border-radius: 50%;
   }
   /*CONTAINER  */
   
   .container {
       /* border: 1px dotted seagreen; */
       height: 600px;
   }
   /*USERLIST  */
   
   .userlist {
       float: left;
       width: 30%;
       /* border: 1px solid aqua; */
       height: 100%;
       width: 30%;
       border-radius: 5px;
       padding: 4px;
       background-color: #B5D1E8;
       margin-top: 10px;
       overflow-y: scroll;
   }
   
   h3.userName {
       margin-top: 5px;
       margin-left: 21px;
       margin-bottom: 4px;
       color: #333;
       font-family: verdana;
       font-size: 16px;
   }
   
   .userlist a:hover {
       font-weight: 700;
       color: salmon;
   }
   
   .userlist input {
       height: 22px;
       margin-left: 20px;
       width: 71%;
       padding: 4px;
   }
   
   .uList {
       list-style-type: none;
       padding-left: 20px;
       padding-top: 14px;
       line-height: 2;
       background: floralwhite;
       border-radius: 10px;
       margin: 10px;
   }
   
   a.listOfUsers {
       font-family: verdana;
       color: black;
       text-decoration: none;
       font-size: 16px;
       vertical-align: super;
   }
   /*BOARD  */
   
   .board {
       float: right;
       width: 68%;
       /* border: 1px solid salmon; */
       height: 100%;
   }
   /*DIALOGS  */
   
   .dialogs {
       position: relative;
       /* border: 1px solid green; */
       /* background: aqua; */
       height: 100%;
   }
   
   #list {
       color: #333;
       font-family: verdana;
       font-size: 16px;
       padding-top: 16px;
       padding-bottom: 16px;
   }
   
   #list li {
       margin-bottom: 8px;
   }
   
   .dialogField {
       background: floralwhite;
       height: 73%;
       overflow-y: scroll;
       margin-top: 10px;
   }
   
   li {
       list-style-type: none;
   }
   /*TEXT  */
   
   .text {
       /* border: 1px solid slateblue; */
       margin-top: 47%;
       background: #B5D1E8;
       position: absolute;
       top: 100px;
       width: 96%;
       padding: 12px;
   }
   
   .myButton {
       box-shadow: inset 0px 1px 0px 0px #bbdaf7;
       background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
       background-color: #79bbff;
       border-radius: 6px;
       border: 1px solid #84bbf3;
       display: inline-block;
       cursor: pointer;
       color: #ffffff;
       font-family: Verdana;
       font-size: 15px;
       font-weight: bold;
       padding: 9px 39px;
       text-decoration: none;
       text-shadow: 0px 1px 0px #528ecc;
   }
   
   .myButton:hover {
       background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
       background-color: #378de5;
   }
   
   .myButton:active {
       position: relative;
       top: 1px;
   }
   
   textarea {
       width: 94%;
       margin: 20px;
       height: 66%;
   }
   /*FOOTER  */
   
   footer {
       background: #B5D1E8;
       height: 140px;
       margin-top: 28px;
       padding: 12px;
       border-radius: 12px;
   }
   /*router  */
   
   .active {
       color: aliceblue;
       border: 1px solid salmon;
       border-radius: 10px;
       padding: 5px 20px 5px 20px;
       background: coral;
   }