<div class="wrapper">
    <header>
        <header-component></header-component>
    </header>

    <div class='container'>
        <container-component></container-component>
    </div>
    <footer>
        <footer-component></footer-component>
    </footer>
</div>

</div>