<!--<p>{{$ctrl.label}}</p>
<input type="" name="" value="" ng-model="$ctrl.label">-->

<div class="info">
    <h2>info</h2>
</div>
<div class="label">
    <h1>{{$ctrl.label}}</h1>
</div>

<div class='logo'>
    <img src="shared/logoang.png" alt="">
</div>