<h3 class="userName">Ваше имя: {{$ctrl.myname}} </h3>

<input type="text" placeholder="registration name" ng-model=$ctrl.myname>

<button class="" ng-click="$ctrl.registerUser()">+</button>

<ul class="uList">
    <li ng-repeat="user in $ctrl.userlist">
        <img src="shared/user.png" alt="">
        <a class='listOfUsers' href="">{{user.username}}</a>
    </li>
</ul>

<!-- testing parent to child -->
<h4>from parent: {{$ctrl.testdata}}</h4>